
.dashboard{
    width: 100vw;
    height: 100vh;
    display: flex;

    h3{
        color:white;
        background-color: cadetblue;
    }
    .left-container{
        width: 20%;
        height: 100%;
        background-color: rgb(112, 173, 175);
        overflow: auto;
    }
    .right-container{
        width:80%;
        height:100%;
        background-color:white;
    }
    button{
        color: white;
    }

}
