.parent{
    width: 100vw;
}
.form-container{
    width: 50%;
    background-color: white;
    border: 1px solid;
    box-shadow: 0px 0px 5px black;
    padding: 20px;
}
.error{
    color:red;
}