<div class="parent flex-center">
    <div class="form-container">
        <form [formGroup]="studentForm"> 
          <div class="form-group row">
            <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Name:</label>
            <div class="col-sm-10">
              <input type="text" formControlName="name" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
              <label for="gender" class="col-sm-2 col-form-label col-form-label-sm">Gender:</label>
              <div class="col-sm-10"><br>
                  <div class="form-check form-check-inline ml-1 mr-2">
                      <input type="radio" formControlName="gender" class="form-check-input" id="male" value="male">
                      <label class="form-check-label" for="male">Male</label>
                  </div>
                  <div class="form-check form-check-inline ml-1">
                      <input type="radio" formControlName="gender" class="form-check-input" id="female" value="female">
                      <label class="form-check-label" for="female">Female</label>
                  </div>
            </div>
          </div>
          <div class="form-group row">
            <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Mobile:</label>
            <div class="col-sm-10">
              <input type="text" formControlName="mobile" class="form-control form-control-sm" id="colFormLabelSm" placeholder="number">
            </div>
          </div>
          <div class="form-group row">
              <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Email:</label>
              <div class="col-sm-10">
                <input type="email" formControlName="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Email">
              </div>
          </div>
          <div class="form-group row">
              <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Batch:</label>
              <div class="col-sm-10">
                <input type="date" formControlName="batch" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Batch">
              </div>
          </div>
          <div class="form-group row" formGroupName="address">
              <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Address:</label>
              <div class="col-sm-10">
                  <div class="form-group row">
                      <label for=" " class="col-sm-2 col-form-label col-form-label-sm">City:</label>
                      <div class="col-sm-10">
                        <input type="text" formControlName="city" class="form-control form-control-sm" id="colFormLabelSm" placeholder="city">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Mandal:</label>
                      <div class="col-sm-10">
                        <input type="text" formControlName="mandal" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Mandal">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for=" " class="col-sm-2 col-form-label col-form-label-sm">District:</label>
                      <div class="col-sm-10">
                        <input type="text" formControlName="district" class="form-control form-control-sm" id="colFormLabelSm" placeholder="District">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for=" " class="col-sm-2 col-form-label col-form-label-sm">State:</label>
                      <div class="col-sm-10">
                        <input type="text" formControlName="state" class="form-control form-control-sm" id="colFormLabelSm" placeholder="State">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Pincode:</label>
                      <div class="col-sm-10">
                        <input type="text" formControlName="pincode" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Pincode">
                      </div>
                  </div>
              </div>
          </div>
          <label for="">Education</label>&#160;
          <button class="btn btn-info" (click)="addEducation()">Add Education</button><br><br>
          
          <div formArrayName="education">
              <div *ngFor="let education of educationFormArray.controls; let i=index">
                  <div [formGroupName]="i">
                      <h2>Education {{i + 1}}</h2>
          
                      <div class="form-group row">
                          <label for="" class="col-sm-2 col-form-label col-form-label-sm">Qualification:</label>
                          <div class="col-sm-10">
                              <input type="text" formControlName="qualification" class="form-control form-control-sm" placeholder="Qualification">
                          </div>
                      </div>
          
                      <div class="form-group row">
                          <label for="" class="col-sm-2 col-form-label col-form-label-sm">Year:</label>
                          <div class="col-sm-10">
                              <input type="text" formControlName="year" class="form-control form-control-sm" placeholder="Year">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="" class="col-sm-2 col-form-label col-form-label-sm">Percentage:</label>
                          <div class="col-sm-10">
                              <input type="text" formControlName="percentage" class="form-control form-control-sm" placeholder="Percentage">
                          </div>
                      </div>
                      <hr>
                       <button class="btn btn-danger" (click)="deleteEducation(i)">Delete</button>
                      <hr>
                  </div>
              </div>
          </div>
          <div class="form-group row" formGroupName="company">
            <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Company:</label>
            <div class="col-sm-10">
                <div class="form-group row">
                    <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Name:</label>
                    <div class="col-sm-10">
                      <input type="text" formControlName="name" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Location:</label>
                    <div class="col-sm-10">
                      <input type="text" formControlName="location" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Location">
                    </div>
                </div>
                <div class="form-group row">
                    <label for=" " class="col-sm-2 col-form-label col-form-label-sm">Package:</label>
                    <div class="col-sm-10">
                      <input type="text" formControlName="package" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Package">
                    </div>
                </div>
                <div class="form-group row">
                    <label for=" " class="col-sm-2 col-form-label col-form-label-sm">OfferDate:</label>
                    <div class="col-sm-10">
                      <input type="date" formControlName="offerDate" class="form-control form-control-sm" id="colFormLabelSm" placeholder="offerDate">
                    </div>
                </div>
            </div>
        </div>
            <button class="flex-center" class="btn btn-default">Submit</button>
      </form>
    </div>
</div>