.parent{
    width: 100vw;
    height: 100vh;
}
.form-container{
    width: 30%;
    background-color: white;
    border: 1px solid;
    box-shadow: 0px 0px 5px black;
    padding: 20px;
}
.message-color{
    color:red;
}