<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Personal Information</th>
        <th scope="col">Address Information</th>
        <th scope="col">Education Information</th>
        <th scope="col">Company Information</th>
        <th scope="col">Refferal Information</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>{{student.name}}
            {{student.gender}}
            {{student.mobile}}
            {{student.email}}
            {{student.batch|date:'yyyy-MMMM-dd'}}</td>
        <td>{{student?.address?.city}}
            {{student?.address?.district}}
            {{student?.address?.state}}
        </td>
        <td>
          <div *ngIf="student?.education?.length > 0; else noEducation">
            <div *ngFor="let edu of student?.education">
              {{ edu.qualification || 'N/A' }} <br>
              {{ edu.year || 'N/A' }} <br>
              <span [ngClass]="{'green-background': edu.percentage >= 60, 'red-background': edu.percentage < 60}">
                {{ edu.percentage | percentage }}
              </span>
            </div>
          </div>
          <ng-template #noEducation>No Education Data</ng-template>
        </td>
        <td>{{student?.company?.name}}
           {{student?.company?.package|package}}
         </td>
         <td>{{student?.Refer}}
             {{student?.referralName}}
             {{student?.sourceType}}
             {{student?.sourceFrom}}
         </td>
      </tr>
    </tbody>
  </table>